.section-header,
.list-header,
.list-single {
  padding: 15px;
}

.side-nav {
  background-color: #202020;
  width: 150px;
  color: #cccccc;
  -webkit-box-shadow: inset -5px 0 15px #000000;
  height: auto;
}

.list-header,
.list-single {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #000000;
}

.list-header {
  font-weight: bold;
  /*padding-left: 15px;*/
}

.list-single {
  padding-left: 30px;
  display: none;
  border-left-style:solid;
  border-left-width: 5px;
  border-left-color: #000000;
}

.list-red {
  border-left-color: red;
}

.list-blue {
  border-left-color: blue;
}





/* GogromaT */
/* For Serge to check/modify */

.list-header,
.list-single {
  cursor: pointer;
}

/* Bus links */
.list-link,
.search-cancel {
  color: inherit;
  text-decoration: none;
}
.list-link:visited {
  /* Maybe some cool decoration */
}



.section-header {
  position: relative;
}

.search-magnifier {
  background-image: url("../images/magnify.png");
  width: 16px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.search-cancel {
  position: absolute;
  left: 116px;
}
.search-cancel:hover {
  cursor: text;
}

input[type=search] {
  -webkit-border-radius: 10px;
  border-radius: 10px;

  padding-left: 20px;
  width: 100%;
}