.section-header,
.list-header{
  padding: 15px;
}

.side-nav {
  background-color: #202020;
  width: 200px;
  color: #cccccc;
  -webkit-box-shadow: inset -5px 0 15px #000000;
  overflow-y: auto;
}

.list-header {
  border-bottom: 1px solid #101010;
  border-top: 1px solid #333333;
}

.list-header {
  font-weight: bold;
}

.list-single {
/*  padding-left: 25px;*/
  letter-spacing: .08em;
  display: none;
  border-left-style:solid;
  border-left-width: 3px;
  border-left-color: #000000;
  background-color: #121212;
  -webkit-box-shadow: inset 0 1px 0 #212121;
}
.list-link{
  display:block;
  padding:15px;
}
.list-single:active {
  background-color:#202020;
}

.list-header,
.list-single {
  cursor: pointer;
}

/* Bus links */
.list-link,
.search-cancel {
  color: inherit;
  text-decoration: none;
}
.list-link:visited {
  /* Maybe some cool decoration */
}

.section-header {
  border-bottom: 1px solid #101010;
  position: relative;
}

.search-magnifier {
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 24px;
  top: 23px;
}
.search-cancel {
  position: absolute;
  left: 116px;
}
.search-cancel:hover {
  cursor: text;
}

input[type=search] {
  background-color: #121212;
  color: #cccccc;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow:inset 0 1px 3px #000000;
  box-shadow:inset 0 1px 3px #000000;
  padding-left: 25px;
  padding-right: 8px;
  outline: 0;
  width: 100%;
  border: 1px solid #333333;
  height: 30px;
}