html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#main-header {
    z-index: 2;
    background: #333;
    color: #fff;
}

#main-header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-header a:hover {
    background: #c0c0c0;
}

.btn {
    display: block;
    margin-top: 8px;
    max-width: 35px;
/*    height: 20px;*/
    background: white;
    color: black;
}

.side-nav {
    /* XX Placeholder styling */
    position: absolute;
    left: 0;
    top: 0;
    background: #A0E6FF;
    height: 1200px;
    width: 150px;
}

/* XX If possible, remove through leaflet */
.leaflet-control-container {
    display: none;
}

.footer-absolute{
    position:absolute;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;

}

.left{
    float:left;
}
.right{
    float:right;
}

#main-footer a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-footer a:hover {
    background: #333;
    color:white;
}