/* -- Reset Everything -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Start Stylin' -- */
html, body {
    overflow: hidden;
}
#header-wrapper {
    z-index: 2;
    background: #333;
    color: #fff;
}

#header-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#route-wrapper a:hover {
    background: #c0c0c0;
}
#header-info h1{
    /*background: #c0c0c0;*/
    margin-top:15px;
}
.btn {
    display: block;
    margin-top: 8px;
    width: 35px;
/*    height: 20px;*/
    background: #aaa;
    color: black;
}

.side-nav {
    /* XX Placeholder styling */
    position: absolute;
    left: 0;
    top: 0;
    background: #A0E6FF;
    /*height: 1200px;*/
    width: 150px;
}

.fav-active {
    background: orange;
}

/* XX If possible, remove through leaflet */
.leaflet-control-container {
    display: none;
}


.left{
    float:left;
}
.right{
    float:right;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
#liveContainer{
    position:absolute;
    left:50px;
    bottom:30px;
    width:80px;
}
#geoContainer{
    position:absolute;
    right:50px;
    bottom:30px;
    width:50px;
}
#liveContainer a, #geoContainer a{
    width:100%;
    padding:10px;
    text-decoration: none;

}
#liveContainer a:hover, #geoContainer a:hover{
    color:white;
    background:#333;
}

/*BUBBLE CSS*/
.hide{
    display: none;
}
.show{
    display:inline;
}
.liveBubble {
    background-color: #aaa;
    border: 1px solid #c8c8c8;
    width:170px;
    text-align: center;
    position: absolute;
    bottom:50px;
    right:-60px;
}
.liveBubble ul li{
/*    height:50px;*/
    width: 150px;
}
.liveBubble ul li a{
    border: 1px solid #c8c8c8;
    margin-top:0px;
}
.liveBubble .arrow {
    border-style: solid;
    position: absolute;
}
 
.bottom {
    border-color: #aaa transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
    left:70px;
}
