/* -- Reset Everything -- */
html, body, div, span, applet, input, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Start Stylin' -- */
html, body {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
}

p, li, a ,input {
    font-size: 12px;
    line-height: 21px;
}

/* Header CSS */
#header-wrapper {
    z-index: 2;
    color: #fff;
    background: #006CB7;
}
#header-info {
    height: 60px;
    position: relative;
}
#header-info h1{
    font-size: 32px;
    font-weight: 500;
    /*height: 32px;*/
    line-height: 32px;
    margin: 14px auto;
    width: 100%;
}
#homeScreen {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    /*opacity: 0.9;*/
    /*border: solid 2px #006CB7;*/
    background-color: #ededed;
    padding: 14px;
    display: none;
    /*background-image: url('../images/icon-bus.svg');*/
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .9;
}

/* Direction Nav CSS */
#slider-direction{
    background: #222222;
    width: 100%;    
    height:45px;
}
.route-name{
    font-size: 12px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    height:45px;
}
.dir-sprite{
    width: 32px;
    height: 32px;
    margin-top:7px;
    margin-bottom:7px;
}
.route-direction{
    height:45px;
}
.route-direction:first-child .dir-sprite{
    background-image: url("../images/icon-route-left-sprite.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    float:left;
    margin-left:15px;
    margin-right:15px;
}
.route-direction:last-child .dir-sprite{
    background-image: url("../images/icon-route-right-sprite.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    float:right;
    margin-left:15px;
    margin-right:15px;
}
.route-selected{
    background-position: center -32px !important;
}

/* HomeScreen CSS */
#header-info {
    height: 60px;
    position: relative;
}

#header-info h1{
    font-size: 28px;
    font-weight: 500;
    /*height: 32px;*/
    line-height: 32px;
    margin: 14px auto;
    width: 100%;
}

#homeScreen {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    /*opacity: 0.9;*/
    /*border: solid 2px #006CB7;*/
    background-color: #ededed;
    padding: 14px;
    display: none;
    /*background-image: url('../images/icon-bus.svg');*/
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .9;
}

#homeScreen.visible {
    display: block;
}

.homeScreen-help {
    position: absolute;
    padding-top: 110px;
    background-image: url('../images/help-arrow.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

p.header-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #222;
}

.btn {
    display: block;
    width: auto;
    color: #ffffff;
}

#menu-btn,
#fav-btn {
    position: absolute;
    top: 14px;
    width: 32px;
    height: 32px;
}

#menu-btn {
    left: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icon-list-sprite.svg");
}

#fav-btn {
    right: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icon-fav-sprite.svg");
}

.fav-active {
    background-position:0 -32px !important;
}

.page{
    position: relative;
}

.side-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    display:none;
}

.list-header{
    background:;
}
/* XX If possible, remove through leaflet */
.leaflet-control-container {
    display: none;
}

.left{
    float:left;
}
.right{
    float:right;
}
.disabled {
   pointer-events: none;
   cursor: default;
}

#liveContainer,
#geoContainer {
    position: absolute;
    bottom: 14px;
}

#liveContainer{
    background:rgba(27, 27, 27, 0.9);
    left:14px;
}

#liveContainer a {
    text-decoration: none;
}

#geoContainer{
    width:40px;
    right: 14px;
}

#geoContainer a{
    width:100%;
    text-decoration: none;
}

#liveContainer a:hover,
#geoContainer a:hover{
    color:white;
}

#geo-btn,
#geo-active {
    background-image: url("../images/icon-geo-sprite.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

#geo-btn {
    background-position:0 5px;
}

.geo-active {
    background-position:0 -36px !important;
}

#live-btn {
    height: 40px;
    width: 160px;
    position:relative;
}

.imgState {
    background-image: url("../images/icon-live-sprite.svg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    display: block;
    float: left;
}

.imgState.disabled {
    background-position: 0px -40px;
}

.state {
    float: left;
    padding: 10px;
    padding-left: 9px;
}

.time {
    background: rgba(18, 18, 18, 1);
    padding: 10px 14px;
    text-align:center;
    float: right;
}


/*BUBBLE CSS*/
.live-bubble-header{
    background: black;
    color: white;
    padding:5px;
}

.liveBubble {
    width:160px;
    text-align: center;
    position: absolute;
    bottom:10px;
    visibility:hidden;
    -webkit-transition:all .2s;
}
.liveBubble.shown {
    visibility:visible;
    bottom:50px;
}
.liveBubble ul li a{
    color:white;
    background:rgba(27, 27, 27, 0.9);
    border-top: 1px solid black;
    margin-top:0px;
    padding: 10px 5px;
}
.liveBubble .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: rgba(27, 27, 27, 0.9) transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -7px;
    left:12px;
}

/* Animations CSS */
.spin360 {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: Infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

