<div id="header-info" class="no-flick" style="background:#{{#if homeState}}006CB7{{else}}{{route.color}}{{/if}};">
  <div class="col-1">
    <a href="#" id='menu-btn' class='btn side-nav-toggle center center-text no-flick'></a>
  </div>

  <h1 class='col-10 center-text {{#if homeState}}logo{{/if}} no-flick'>
    {{#if homeState}}Metroly{{else}}{{route.shortName}}{{/if}}
  </h1>
  
  <div class="col-1" id='app-controls'></div>
</div>

{{#unless homeState}}
  <div id="slider-direction" class="no-flick">
    {{#each route.directions}}
      <div class='col-2 center center-text route-direction no-flick' data-direction="{{directionId}}"><a href="#" class="dir-sprite" data-direction="{{directionId}}"></a></div>
      {{#unless @index}}
        <div class='col-8 center-text route-name no-flick'>
          {{destination}}
        </div>
      {{/unless}}
    {{/each}}
  </div>
{{/unless}}
