<div id="header-info" style="background:#{{#if homeState}}006CB7{{else}}{{route.color}}{{/if}};">
  <div class="col-1">
    <a href="#" id='menu-btn' class='btn side-nav-toggle center center-text'></a>
  </div>

  <h1 class='col-10 center-text {{#if homeState}}logo{{/if}}'>
    {{#if homeState}}Metroly{{else}}{{route.shortName}}{{/if}}
  </h1>
  
  <div class="col-1" id='app-controls'></div>
</div>

{{#unless homeState}}

  <div id="route-wrapper" class='col-12'>
    {{#each route.directions}}
      <div href="#" class="col-6 center-text route">{{destination}}</div>
    {{/each}}
  </div>
  <div id="slider-direction" class='col-12'>
    {{#each route.directions}}
      <a href="#" class="col-5 center-text route-direction"><div class="dir-sprite" data-direction="{{directionId}}"></div></a>
      {{#unless @index}}
          <a href="#" class="col-2 center-text menu-direction"></a>
      {{/unless}}
    {{/each}}
  </div>
{{/unless}}
