{{#unless hidden}}
	<div class="liveBubble no-flick">
		<div class="liveBubbleArrow"></div>
		<ul class="liveBubbleList">
			<li class="live-bubble-header">Refresh every</li>
			<li><a href="#" class="btn center center-text liveTime" data-time="15"> 15 Seconds</a></li>
			<li><a href="#" class="btn center center-text liveTime" data-time="60"> 60 Seconds</a></li>
			<li><a href="#" class="btn center center-text liveTime" data-time="">Never (Offline)</a></li>
		</ul>
	</div>
	<a href="#" id='live-btn' class='btn center center-text'>
		{{#if time}}
			<span class="imgState"></span>
			<span class="state">Live</span>
			<span class="time">{{time}}</span>
		{{else}}
			<span class="imgState disabled"></span><span class="state">Offline</span>
		{{/if}}
	</a>
{{/unless}}